In [49]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [50]:
remain_demand = pd.read_csv('G:/내 드라이브/ESC-22FALL/빅콘테스트/preprocessed data/remain_demand_data.csv' ,encoding='cp949')

C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\1646924419.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  remain_demand = pd.read_csv('G:/내 드라이브/ESC-22FALL/빅콘테스트/preprocessed data/remain_demand_data.csv' ,encoding='cp949')

In [51]:
remain_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131811 entries, 0 to 131810
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0.1  131811 non-null  int64
 1   Unnamed: 0    131811 non-null  int64
 2   date          131811 non-null  int64
 3   dow           131811 non-null  int64
 4   gender        131811 non-null  object
 5   age           131811 non-null  int64
 6   time_zone     131811 non-null  int64
 7   app_web       131811 non-null  object
 8   count_cust    131811 non-null  float64
 9   cell_xcrd     131811 non-null  float64
 10  cell_ycrd     131811 non-null  float64
 11  adng_nm       131811 non-null  object
 12  cell_id       131811 non-null  int64
dtypes: float64(3), int64(7), object(3)
memory usage: 13.1+ MB

In [52]:
remain_demand.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)
remain_demand.describe()

,date,dow,age,time_zone,count_cust,cell_xcrd,cell_ycrd,cell_id
count,131811.000000,131811.000000,131811.000000,131811.000000,131811.000000,131811.000000,131811.000000,1.318110e+05
mean,15.555045,3.915159,9.293625,3.668723,6.643721,127.147526,37.275871,8.600021e+07
std,8.732194,1.906048,3.055818,1.439908,4.614848,0.068708,0.047782,1.946749e+06
min,1.000000,1.000000,1.000000,1.000000,3.001000,127.030500,37.086700,8.269542e+07
25%,8.000000,2.000000,7.000000,3.000000,3.768000,127.095660,37.245030,8.453521e+07
50%,16.000000,4.000000,10.000000,4.000000,4.585000,127.125030,37.276672,8.536715e+07
75%,23.000000,6.000000,12.000000,5.000000,8.098000,127.187990,37.315792,8.714275e+07
max,30.000000,7.000000,14.000000,6.000000,177.332000,127.423720,37.370174,9.383021e+07

## 법정구역별 전기차 등록 계수 적용

In [53]:
adng_car_registration = pd.read_csv('G:/내 드라이브/ESC-22FALL/빅콘테스트/Preprocessed Data/adng_car_registration.csv', encoding='cp949')
adng_car_registration

,Unnamed: 0,adng_nm,registration,elec_registration,ratio,log_ratio,Z_log_ratio,ratio_coef
0,0,구갈동,16976,832,0.049010,-3.015723,3.321912,1.000000
1,1,구성동,15739,154,0.009785,-4.626944,-0.726506,1.145301
2,2,기흥동,9735,136,0.013970,-4.270828,0.168286,1.000000
3,3,남사읍,11548,173,0.014981,-4.200976,0.343799,1.000000
4,4,동백동,33975,402,0.011832,-4.436928,-0.249064,1.049813
5,5,동부동,5748,184,0.032011,-3.441671,2.251658,1.000000
6,6,동천동,20555,348,0.016930,-4.078657,0.651143,1.000000
7,7,마북동,12698,124,0.009765,-4.628918,-0.731466,1.146293
8,8,모현읍,12878,192,0.014909,-4.205780,0.331728,1.000000
9,9,백암면,3855,67,0.017380,-4.052434,0.717033,1.000000
10,10,보라동,13683,141,0.010305,-4.575150,-0.596364,1.119273
11,11,보정동,15719,193,0.012278,-4.399935,-0.156114,1.031223
12,12,상갈동,4887,42,0.008594,-4.756664,-1.052445,1.210489
13,13,상하동,9993,97,0.009707,-4.634929,-0.746569,1.149314
14,14,상현동,31079,351,0.011294,-4.483501,-0.366085,1.073217
15,15,서농동,10587,115,0.010862,-4.522450,-0.463949,1.092790
16,16,성복동,22000,297,0.013500,-4.305066,0.082260,1.000000
17,17,신갈동,14787,183,0.012376,-4.392018,-0.136219,1.027244
18,18,신봉동,15600,177,0.011346,-4.478876,-0.354465,1.070893
19,19,양지면,10054,140,0.013925,-4.274083,0.160107,1.000000
20,20,역삼동,18791,283,0.015060,-4.195686,0.357090,1.000000
21,21,영덕동,25491,425,0.016673,-4.093992,0.612613,1.000000
22,22,원삼면,4144,105,0.025338,-3.675456,1.664241,1.000000
23,23,유림동,15573,129,0.008284,-4.793481,-1.144954,1.228991
24,24,이동읍,9848,98,0.009951,-4.610056,-0.684072,1.136814
25,25,죽전동,27100,249,0.009188,-4.689836,-0.884530,1.176906
26,26,중앙동,11619,128,0.011016,-4.508367,-0.428563,1.085713
27,27,포곡읍,14602,142,0.009725,-4.633087,-0.741940,1.148388
28,28,풍덕천동,27378,222,0.008109,-4.814818,-1.198564,1.239713

In [54]:
import re

# XX1동과 같이 숫자가 포함된 행정동에서 숫자 제거
def adng_combine(adng_nm):
    new_adng_nm = re.sub(r"[0-9]", "", adng_nm)
    return new_adng_nm

In [55]:
# 숫자 제거한 법정읍면동 정보를 adng_nm2컬럼에 저장
remain_demand['adng_nm2'] = remain_demand.apply(lambda row: adng_combine(row['adng_nm']), axis=1)

In [56]:
# 생성한 전기차 비율 계수를 아파트/비아파트 데이터 count_cust에 적용
coef_dict = {}
for i in adng_car_registration.index:
    coef_dict[adng_car_registration.loc[i, 'adng_nm']] = adng_car_registration.loc[i, 'ratio_coef']
# 전기차 비율 계수가 적용된 adj_count_cust
remain_demand['adj_count_cust'] = remain_demand.apply(lambda row: row['count_cust']*coef_dict[row['adng_nm2']], axis=1)
remain_demand

,date,dow,gender,age,time_zone,app_web,count_cust,cell_xcrd,cell_ycrd,adng_nm,cell_id,adng_nm2,adj_count_cust
0,14,2,0,14,1,EV라운지,18.440,127.216600,37.274303,포곡읍,87958893,포곡읍,21.176273
1,24,5,1,8,4,EV라운지,4.231,127.091780,37.306840,상현2동,84423187,상현동,4.540781
2,24,5,1,6,4,EV라운지,13.728,127.082726,37.312218,성복동,84167215,성복동,13.728000
3,10,5,0,4,3,EV라운지,7.228,127.210440,37.114290,이동읍,87766550,이동읍,8.216895
4,17,5,1,9,2,EV라운지,4.374,127.097270,37.336150,동천동,84583242,동천동,4.374000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131806,11,6,MALE,4,1,EV라운지,3.921,127.090580,37.319904,풍덕천2동,84391218,풍덕천동,4.860914
131807,9,4,FEMALE,14,2,EV라운지,3.784,127.147770,37.278625,동백3동,86007025,동백동,3.972491
131808,4,6,FEMALE,10,4,EV라운지,6.822,127.153480,37.264670,동백2동,86166984,동백동,7.161822
131809,15,3,MALE,11,5,EV라운지,8.226,127.112724,37.295193,마북동,85015124,마북동,9.429407
131810,18,6,FEMALE,10,1,EV라운지,8.110,127.080505,37.305447,상현1동,84103204,상현동,8.703790

## 법정 구역별 클러스터링

In [57]:
total_remaind_demand = remain_demand['adj_count_cust'].sum()                            # 남은 수요점 총 count_cust 합 계산
adng_remain_demand = remain_demand.groupby('adng_nm2')['adj_count_cust'].sum()          # 법정 구역별 수요점 counst_cust 합 계산
adng_remain_demand_ratio = adng_remain_demand/total_remaind_demand                      # 법정 구역별 수요점 ratio
# 목표 달성을 위해 1500대의 충전기 추가 필요 
# 1500대? <--- 현재 notapart충전소 충전기수 = 342(완속충전기) + 237(급속충전기)*4 = 1290 가 46%충족 we need 54% more!
adng_goal_charger_num = pd.DataFrame(np.round(adng_remain_demand_ratio*1500, 0)).reset_index()  # 1500대를 각 법정읍면동의 수요 총합 비율로 배분               
adng_goal_charger_num.head(5)

  adng_nm2  adj_count_cust
0      구갈동            69.0
1      구성동            50.0
2      기흥동             7.0
3      남사읍            25.0
4      동백동           100.0

In [58]:
remain_demand['cluster_label'] = 0  #remain_demand데이터에 'cluster_label'컬럼 추가. 후에 클러스터링 이후 해당 컬럼에 군집 label저장

# start with '구갈동'
adng_demand = remain_demand[remain_demand['adng_nm2'] == '구갈동']  # remian_demand에서 ['adng_nm2'] == '구갈동'인 데이터 추출
n_clusters = adng_goal_charger_num.loc[0, 'adj_count_cust']         # 군집 개수를 법정읍면동별 목표 충전기 대수로 설정

Kmeans = KMeans(n_clusters=int(n_clusters))                         # 군집 개수가 n_cluster인 kmeans객체 생성
Kmeans.fit_transform(adng_demand[['cell_xcrd', 'cell_ycrd']])       # 수요점 데이터 학습

# 수요점 데이터에 cluster label 저장
adng_demand['cluster_label'] = Kmeans.labels_   # 클러스트링 결과 각 수요점 별 cluster_label 추출
for i in adng_demand.index:                     # remain_demand에 cluster_label 저장
    remain_demand.loc[i, 'cluster_label'] = adng_demand.loc[i, 'cluster_label']

# 군집점 데이터 저장
clusters = pd.DataFrame(Kmeans.cluster_centers_, columns=['cell_xcrd', 'cell_ycrd'])                        # 군집점 x,y 좌표 저장
clusters['count_point'] = pd.Series(adng_demand.groupby('cluster_label')['adj_count_cust'].count())         # 군집점 별 수요점 개수 저장
clusters['adj_count_cust_sum'] = pd.Series(adng_demand.groupby('cluster_label')['adj_count_cust'].sum())    # 군집점 별 수요점 adj_count_cust 총합 저장
# 군집점 별 충전기 대수 = 법정읍면동별 충전기 대수 * (군집점 adj_count_cust 합/법정읍면동별 adj_count_cust 합)
clusters['charger_number'] = np.round(clusters['adj_count_cust_sum']/clusters['adj_count_cust_sum'].sum() * 154, 0) 
clusters.reset_index(drop=False, inplace=True)                      # 군집점 데이터 인덱스 초기화, 기존 인덱스 저장(drop=False)
clusters.rename(columns={'index':'cluster_label'}, inplace=True)    # 기존 인덱스가 cluster_label의 역할 <- 
clusters['adng_nm'] = '구갈동'                                      # 법정읍면동 이름 저장

C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\2062690331.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_   # 클러스트링 결과 각 수요점 별 cluster_label 추출

In [59]:
clusters

,cluster_label,cell_xcrd,cell_ycrd,count_point,adj_count_cust_sum,charger_number,adng_nm
0,0,127.128072,37.277611,286,1873.946,7.0,구갈동
1,1,127.113902,37.275884,104,573.570,2.0,구갈동
2,2,127.111702,37.282292,264,1679.871,6.0,구갈동
3,3,127.129799,37.271473,335,2637.544,9.0,구갈동
4,4,127.121695,37.278289,258,1623.265,6.0,구갈동
...,...,...,...,...,...,...,...
64,64,127.133695,37.270045,36,430.479,2.0,구갈동
65,65,127.114953,37.277156,58,381.038,1.0,구갈동
66,66,127.128328,37.269616,34,117.343,0.0,구갈동
67,67,127.124655,37.268414,12,37.406,0.0,구갈동
68,68,127.121870,37.274915,55,270.576,1.0,구갈동

In [60]:
# 앞서 구갈동 데이터에만 진행했던 클러스터링 모두 진행. 과정은 거의 동일
for i in adng_goal_charger_num[1:].index:
    adng_demand = remain_demand[remain_demand['adng_nm2'] == adng_goal_charger_num.loc[i, 'adng_nm2']]
    n_clusters = adng_goal_charger_num.loc[i, 'adj_count_cust']

    Kmeans = KMeans(n_clusters=int(n_clusters))
    Kmeans.fit_transform(adng_demand[['cell_xcrd', 'cell_ycrd']])

    adng_demand['cluster_label'] = Kmeans.labels_
    for index in adng_demand.index:
        remain_demand.loc[index, 'cluster_label'] = adng_demand.loc[index, 'cluster_label']

    clusters_i = pd.DataFrame(Kmeans.cluster_centers_, columns=['cell_xcrd', 'cell_ycrd'])
    clusters_i['count_point'] = pd.Series(adng_demand.groupby('cluster_label')['adj_count_cust'].count())
    clusters_i['adj_count_cust_sum'] = pd.Series(adng_demand.groupby('cluster_label')['adj_count_cust'].sum())
    clusters_i['charger_number'] = np.round(clusters_i['adj_count_cust_sum']/clusters_i['adj_count_cust_sum'].sum() * adng_goal_charger_num.loc[i, 'adj_count_cust'], 0)
    clusters_i.reset_index(drop=False, inplace=True)
    clusters_i.rename(columns={'index':'cluster_label'}, inplace=True)
    clusters_i['adng_nm'] = adng_goal_charger_num.loc[i, 'adng_nm2']
    # 생성한 군집점 데이터를 앞서 진행한 군집점 데이터에 concatenate
    clusters = pd.concat([clusters, clusters_i])
    clusters.reset_index(drop=True, inplace=True)

C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_
C:\Users\Yubin Hong\AppData\Local\Temp\ipykernel_11512\3861461712.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adng_demand['cluster_label'] = Kmeans.labels_

In [61]:
remain_demand

,date,dow,gender,age,time_zone,app_web,count_cust,cell_xcrd,cell_ycrd,adng_nm,cell_id,adng_nm2,adj_count_cust,cluster_label
0,14,2,0,14,1,EV라운지,18.440,127.216600,37.274303,포곡읍,87958893,포곡읍,21.176273,1
1,24,5,1,8,4,EV라운지,4.231,127.091780,37.306840,상현2동,84423187,상현동,4.540781,24
2,24,5,1,6,4,EV라운지,13.728,127.082726,37.312218,성복동,84167215,성복동,13.728000,3
3,10,5,0,4,3,EV라운지,7.228,127.210440,37.114290,이동읍,87766550,이동읍,8.216895,7
4,17,5,1,9,2,EV라운지,4.374,127.097270,37.336150,동천동,84583242,동천동,4.374000,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131806,11,6,MALE,4,1,EV라운지,3.921,127.090580,37.319904,풍덕천2동,84391218,풍덕천동,4.860914,96
131807,9,4,FEMALE,14,2,EV라운지,3.784,127.147770,37.278625,동백3동,86007025,동백동,3.972491,99
131808,4,6,FEMALE,10,4,EV라운지,6.822,127.153480,37.264670,동백2동,86166984,동백동,7.161822,34
131809,15,3,MALE,11,5,EV라운지,8.226,127.112724,37.295193,마북동,85015124,마북동,9.429407,26
131810,18,6,FEMALE,10,1,EV라운지,8.110,127.080505,37.305447,상현1동,84103204,상현동,8.703790,23

In [68]:
clusters

,cluster_label,cell_xcrd,cell_ycrd,count_point,adj_count_cust_sum,charger_number,adng_nm
0,0,127.128072,37.277611,286,1873.946000,7.0,구갈동
1,1,127.113902,37.275884,104,573.570000,2.0,구갈동
2,2,127.111702,37.282292,264,1679.871000,6.0,구갈동
3,3,127.129799,37.271473,335,2637.544000,9.0,구갈동
4,4,127.121695,37.278289,258,1623.265000,6.0,구갈동
...,...,...,...,...,...,...,...
1497,99,127.100839,37.325563,63,342.409917,1.0,풍덕천동
1498,100,127.099518,37.323865,67,415.817032,1.0,풍덕천동
1499,101,127.100096,37.325812,126,943.547898,2.0,풍덕천동
1500,102,127.101800,37.323302,44,238.750091,0.0,풍덕천동
1501,103,127.087954,37.320810,35,189.259516,0.0,풍덕천동

In [79]:
clusters['charger_number'].value_counts()

1.0     609
0.0     570
2.0     188
3.0      73
4.0      29
5.0      13
6.0      10
7.0       6
9.0       1
8.0       1
10.0      1
11.0      1
Name: charger_number, dtype: int64

In [80]:
zero_charger = clusters[clusters['charger_number'] < 1]     # 군집점에 충전기 대수가 2대 미만이면 해당 군집점 삭제
clusters_final = clusters.drop(zero_charger.index, axis=0)
clusters_final['charger_number'].sum()  # 줄어든 총 충전기 대수 확인

1525.0

In [81]:
clusters_final

,cluster_label,cell_xcrd,cell_ycrd,count_point,adj_count_cust_sum,charger_number,adng_nm
0,0,127.128072,37.277611,286,1873.946000,7.0,구갈동
1,1,127.113902,37.275884,104,573.570000,2.0,구갈동
2,2,127.111702,37.282292,264,1679.871000,6.0,구갈동
3,3,127.129799,37.271473,335,2637.544000,9.0,구갈동
4,4,127.121695,37.278289,258,1623.265000,6.0,구갈동
...,...,...,...,...,...,...,...
1493,95,127.099483,37.332156,130,822.890369,1.0,풍덕천동
1495,97,127.086932,37.321912,79,762.340316,1.0,풍덕천동
1497,99,127.100839,37.325563,63,342.409917,1.0,풍덕천동
1498,100,127.099518,37.323865,67,415.817032,1.0,풍덕천동
1499,101,127.100096,37.325812,126,943.547898,2.0,풍덕천동

In [82]:
clusters_final.reset_index(drop=True, inplace=True)
cluster_final = clusters_final[['adng_nm', 'cluster_label', 'cell_xcrd', 'cell_ycrd', 'charger_number', 'count_point', 'adj_count_cust_sum']]
cluster_final

,adng_nm,cluster_label,cell_xcrd,cell_ycrd,charger_number,count_point,adj_count_cust_sum
0,구갈동,0,127.128072,37.277611,7.0,286,1873.946000
1,구갈동,1,127.113902,37.275884,2.0,104,573.570000
2,구갈동,2,127.111702,37.282292,6.0,264,1679.871000
3,구갈동,3,127.129799,37.271473,9.0,335,2637.544000
4,구갈동,4,127.121695,37.278289,6.0,258,1623.265000
...,...,...,...,...,...,...,...
927,풍덕천동,95,127.099483,37.332156,1.0,130,822.890369
928,풍덕천동,97,127.086932,37.321912,1.0,79,762.340316
929,풍덕천동,99,127.100839,37.325563,1.0,63,342.409917
930,풍덕천동,100,127.099518,37.323865,1.0,67,415.817032
931,풍덕천동,101,127.100096,37.325812,2.0,126,943.547898

In [83]:
cluster_final.to_csv('cluster_final.csv', mode='w', encoding='cp949')